
<!-- <div class="header">
    <div class="logo">
         <img src="../assets/images/SWAP.png" height="70" width="150">
    </div>

    <div class="right-div">
        <div class="contact" >
             <img src="../assets/images/fb1.png"  style="float:right; padding-right: 30px;"> 
             <img src="../assets/images/in1.png"  style="float:right; padding-right: 10px;"> 
             <a href="https://wa.me/+917080512075?text=Hi%20Eric,%20I%20am%20sending%20you%20this%20message%20because%20I%20am%20interested%20in%20your%20business!" style="text-decoration: none;" target="_blank">
                <img src="https://i.ibb.co/N9P0K9H/239px-Whats-App-svg.png" width="50" height="50"/>
              </a>
             <p style="float:right; padding-top: 10px;padding-right: 10px;" >Contact: +91-271761700/712 | Mail : sales@swapengineering.com</p>
        </div> 
        <div class="info">

            <ul>
                <li class="hor-list">
                    <a href="#" style="font-family: sans-serif" >Home</a>
                </li>
                <li class="hor-list">
                    <a href="#" style="font-family: sans-serif" >About Us</a>
                </li>
                <li class="hor-list">
                    <a href="#" >Our Products</a>
                   
                </li>
                <li class="hor-list">
                    <a href="#" >Services</a>
                </li>
                <li class="hor-list">   
                    <a href="#" >Contact Us</a>
                </li>
            </ul>
        </div>
    </div> 


 </div> -->
<div class="head">

    <div class="head-left">
        <img class="logoimg" src="../assets/images/SWAP111.png" >
    </div>
    
    <div class="head-center">
    
        <div class="container">
    
            <ul class="ul-list">
        
                <li class="li-items"><i class="fa fa-home" >Home</i></li>
                <li class="li-items"><i class="fa fa-user">About us</i></li>
                <li class="li-items"><i class="fa fa-product-hunt">Products</i></li>
                <li class="li-items"><i class="fa fa-puzzle-piece">Services</i></li>
                <li class="li-items"><i class="fa fa-phone">Contact Us</i></li>
        
            </ul>
    
        </div>
        
    </div>
    
    <div class="head-right">
        <!-- <i class="fa fa-facebook-official" style="font-size:30px;color:blue"></i> -->
        <a href="https://wa.me/+917080512075?text=Hi%20Eric,%20I%20am%20sending%20you%20this%20message%20because%20I%20am%20interested%20in%20your%20business!" style="text-decoration: none;" target="_blank">
            <img class="social-right" src="https://i.ibb.co/N9P0K9H/239px-Whats-App-svg.png" width="50" height="50"/>
        </a>
    
       
    
    </div>
     
</div>
 