<!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2><i class="fas fa-cubes fa-2x" style="padding-right: 10px;"></i>SUMIP</h2>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Product</a></li>
                            <li><a href="">Benefits</a></li>
                            <li><a href="">Partners</a></li>
                            <li><a href="">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Documentation</a></li>
                            <li><a href="">Support</a></li>
                            <li><a href="">Legal Terms</a></li>
                            <li><a href="">About</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fab fa-facebook fa-2x"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-twitter fa-2x"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-github fa-2x"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-instagram fa-2x"></i></a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-2">
                <h2 class="text-md-right">Contact Us</h2>
                <hr>
            </div>
            <div class="col-md-5">
                <form>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </fieldset>
                    <br/>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                    </fieldset>
                    <br/>
                    <fieldset class="form-group text-xs-right">
                        <button type="button" class="btn btn-secondary-outline btn-2x" style="background-color: white;">Send</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
  </footer> -->


    <!-- Site footer -->
    <!-- 
        

     -->

     <!-- <section>Footer Example 5</section>
<       footer class="footer-distributed">

			<div class="footer-left">

				<h3>Company<span>logo</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Company Name © 2015</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

			<div class="footer-right">

				<p>Contact Us</p>

				<form action="#" method="post">

					<input type="text" name="email" placeholder="Email">
					<textarea name="message" placeholder="Message"></textarea>
					<button>Send</button>

				</form>

			</div>

		</footer> -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col1">
                        <h4>Address</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-home"></i><div class="space-icon"></div>Lekhraj Dollar, near Bhoothnath metro<br> station Indira Nagar, Lucknow</a></li>
                                <!-- <li><a href="#"></a></li>
                                <li><a href="#"> </a></li> -->
                                <div class="spacer"></div>
                                <li><a href="#"><i class="fa fa-envelope"></i><div class="space-icon"></div>info@swapengineering.com </a></li>
                                <li><a href="#"><i class="fa fa-phone"></i><div class="space-icon"></div>+91 7080512075 </a></li>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.9436867872682!2d80.98276001488227!3d26.873530183144428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfd4d7d000001%3A0x27b7d88d73c56d6b!2slekhraj%20dollar!5e0!3m2!1sen!2sin!4v1624869765994!5m2!1sen!2sin" width="250" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </ul>

                    </div>
                 
                    <!-- <div class="spacer-vert1"></div> -->
                    <div class="footer-col">
                        <h4>Categories</h4>
                        <ul>
                                <li><a href="#">Waste Water Treatmemt</a></li>
                                <li><a href="#">Sewage Water Treatment</a></li>
                                <li><a href="#">Operation & Maintenance</a></li>
                                <li><a href="#">Swimming Pool Maintenance</a></li>
                                <li><a href="#">Design & Consultancy</a></li>
                                <li><a href="#">Enquiries </a></li>
                                <li><a href="#">Accessories</a></li>
                        </ul>
                    </div>

                    <div class="spacer-vert"></div>
                    <div class="footer-col">
                        <h4>Follow us</h4>
                        <div id="social"><a class="facebookBtn smGlobalBtn" href="#" ></a>
                            <div class="spacer1"></div>
                            <a class="twitterBtn smGlobalBtn" href="#" ></a>
                            <div class="spacer1"></div>
                            <a class="googleplusBtn smGlobalBtn" href="#" ></a>
                            <div class="spacer1"></div>
                            <a class="linkedinBtn smGlobalBtn" href="#" ></a>
                       
                        </div>
                    </div> 

                     <div class="footer-col">
                        <h4>Product catalogue</h4>
                           <div class="catalogue">
                                <a  href="../../assets/images/profile.pdf">
                                <img class="profileimg" src="../../assets/images/profile11.png"></a>
                                <br>
                                <button class="btnbrc"><i class="fa fa-download"></i> Download</button>
                             </div>
                       
                      
                             <div class="clearfix"></div>
                           
                      </div>
                     </div>  
                <!-- </div> -->
            </div>
       </footer>



       