<div class="head">
    <h1>About Us</h1>
</div>

    <div class="main">

        <div class="main-left">
           
            <div class="main-left-head">Who we are?</div>
           <p>WSCO is an electro-mechanical, water & wastewater treatment company operating in the Kingdom of Saudi Arabia since 2007. It has been growing steadily in the present market as a strong technology & solution provider in the spectrum of water and wastewater treatment, landscaping, and irrigation systems, including design, installation, testing and commissioning, operation and maintenance, and after sales services.
                             <br><br>
                            We meet the growing demand for innovative ideas to reduce the need for freshwater resources, offering the most comprehensive range of products & services for developing systems to reuse. With exceptional engineering experience, well-established marketing services, and access to the latest technology, we bring together tomorrow’s integrated solutions, today.
                            <br><br>
                            Our systems include both readymade, as well as customised solutions for unique water treatment. Our systems are ready made, but we provide custom solutions for unique water treatment issues. We aim to meet all environmental & manufacturing standards according to what you need. WSCO ’s unique capabilities are demonstrated in every step we take, from the identification of the problem to the implementation of an integrated solution.
           </p>
                            <br>
           </div>
         
        <div class="main-right">

            <img src="../../assets/images/water.jpg" height="406px" width="400px">
        </div>
    </div>

