<div class="head" id="head">

  <div class=" head-left">
      <img class="logoimg" text-align="center" src="../assets/images/SWAP111.png" >
  </div>

  <div class="head-left1">
       <div class="text-above"><i class="fa fa-search"> Search Catalogue </i> </div> 
    <!-- <input type="text" placeholder="Search.."> -->
    <form class="example" style="margin:auto;max-width:300px">
      <input type="text" placeholder="Search.." name="search2">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

  
  
  <div class="head-center">
  
    <div class="text-above1"><i class="fa fa-phone"> Give Us a call </i> </div> 
    <div class="text-below"> +91 7891125898 <br> +91 7080512075</div> 
      
  </div>

  <div class="head-right1">
    <div class="text-above1"><i class="fa fa-envelope"> Mail us at </i> </div> 
    <div class="text-below">sales@swapengineering.com<br>info@swapengineering.com</div> 

  </div>
  
  <div class="head-right">
      <!-- <i class="fa fa-facebook-official" style="font-size:30px;color:blue"></i> -->
      
      <a href="https://wa.me/+917080512075?text=Hi%20Eric,%20I%20am%20sending%20you%20this%20message%20because%20I%20am%20interested%20in%20your%20business!" style="text-decoration: none;" target="_blank">
        <img class="social-right" src="https://i.ibb.co/N9P0K9H/239px-Whats-App-svg.png" width="50" height="50"/>
      </a>
  
    
  </div>
   
</div>



<!-- MENU BAR -->

<div class="head1">

  <div class="container">
    
    <ul class="ul-list">
        
        <li class="li-items"><a class="anchor-clean" routerLink="home"><i class="fa fa-home" ></i> HOME </a></li>
        <li class="li-items"><a class="anchor-clean" routerLink="aboutus"><i class="fa fa-user"></i> ABOUT US </a></li>
        <li class="li-items"><a class="anchor-clean" routerLink="home"><i class="fa fa-product-hunt"></i> PRODUCTS </a></li>
        <li class="li-items"><a class="anchor-clean" routerLink="home"><i class="fa fa-puzzle-piece"></i> SERVICES </a></li>
        <li class="li-items1"><a class="anchor-clean" routerLink="contactus"><i class="fa fa-phone"></i> CONTACT US </a></li>
    </ul>
    <router-outlet></router-outlet>
</div>
   
   <button class="button1" ><span>Request a quote </span></button> 
</div>

<router-outlet></router-outlet>

  